<footer style="<%= style %>" class="bg-dark text-white text-center py-4">
  <p>&copy; 2025 Stampa3D Shop. Tutti i diritti riservati.</p>
  <a href="#" class="text-white">Privacy</a> | 
  <a href="#" class="text-white">Termini di servizio</a>
</footer>
